name: Release
on:
  push:
    branches:
      - main

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - run: npm ci
      - run: npx semantic-release --debug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.OCTOKITBOT_NPM_TOKEN }}
      - run: npm whoami && npm access ls-collaborators
        if: ${{ failure() }}
        env:
          NPM_TOKEN: ${{ secrets.OCTOKITBOT_NPM_TOKEN }}
